#player-full-bleed-container {
    min-height: initial !important;
}
#player-full-bleed-container video,
#player-full-bleed-container .html5-video-container {
    height: 100% !important;
}
@media not all and (display-mode: fullscreen) {
    #player-full-bleed-container {
        max-height: calc(100vh - 56px) !important;
    }
}
